
.imagem{
    text-align: center;
    background-color: rgb(54, 54, 172);
}

ul{
    list-style-type: none;
    text-align: center;
}

h3{
    color: blue;
    border-bottom: 2px black solid;
    font-family: verdana;

}

a{
    background-color: blue;
    color: white;
    border: 1px black solid;
    text-decoration: none;
    font-size: 30px;
}

.titulo{
    text-align: center;
}

p{
    font-family: verdana;
    text-indent: 2%;
}
 h1{
    font-size: 20px;
    text-align: center;
    color: blue;
 }
 h4{
    text-align: center;
   
 }
 h5{
    text-align: center;
    color: blue;
    font-family: verdana;
    
 }